@font-face {
  font-family: 'iconfont'; /* project id 1969443 */
  src: url('//at.alicdn.com/t/font_1969443_vz85quvse6b.eot');
  src: url('//at.alicdn.com/t/font_1969443_vz85quvse6b.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1969443_vz85quvse6b.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1969443_vz85quvse6b.woff') format('woff'),
    url('//at.alicdn.com/t/font_1969443_vz85quvse6b.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1969443_vz85quvse6b.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notification:before {
  content: '\e60b';
}

.icon-inspiration:before {
  content: '\e6ca';
}

.icon-lexicon:before {
  content: '\e748';
}

.icon-system:before {
  content: '\e601';
}

.icon-dictionary:before {
  content: '\e6f5';
}

.icon-couples:before {
  content: '\e67b';
}

.icon-error:before {
  content: '\e600';
}

.icon-feedback:before {
  content: '\e724';
}

.icon-service:before {
  content: '\e66d';
}

.icon-back:before {
  content: '\e61c';
}

.icon-user:before {
  content: '\e713';
}

.icon-app:before {
  content: '\e6b9';
}

.icon-list:before {
  content: '\e605';
}

.icon-edit:before {
  content: '\e782';
}

.icon-spring:before {
  content: '\e607';
}

.icon-winter:before {
  content: '\e608';
}

.icon-autumn:before {
  content: '\e609';
}

.icon-summer:before {
  content: '\e60a';
}

.icon-a:before {
  content: '\e6b9';
}

.icon-ni:before {
  content: '\e63d';
}

.icon-ha:before {
  content: '\e63f';
}

.icon-loader:before {
  content: '\e639';
}
